{
  "presets": [
    [
      "@babel/preset-react",
      { "runtime": "automatic", "importSource": "@emotion/react" }
    ],
    "@babel/typescript",
//    "es2015"
  ],
  "plugins": [
//    "@babel/plugin-transform-runtime",
    "@emotion/babel-plugin"
  ]
}
